
/fcc_basic-node-and-express/node_modules
/fcc_basic-node-and-express/.idea
/fcc_basic-node-and-express/.vscode
/fcc_file-metadata-microservice/.idea
/fcc_file-metadata-microservice/node_modules
/fcc_managing-pkgs-with-npm/node_modules
/fcc_managing-pkgs-with-npm/.vscode
/fcc_mongoDB-and-mongoose/.idea
/fcc_mongoDB-and-mongoose/node_modules
/fcc_project-exercise_tracker/.idea
/fcc_project-exercise_tracker/node_modules
/fcc_project-header-parser-microservice/.idea
/fcc_project-header-parser-microservice/node_modules
/fcc_project-timestamp-microservice/.idea
/fcc_project-timestamp-microservice/node_modules
/fcc_project-timestamp-microservice/.vscode
/fcc_project-url-shortener/.idea
/fcc_project-url-shortener/node_modules
/fcc_project-url-shortener/.vscode
fcc_basic-node-and-express/.env
fcc_file-metadata-microservice/.env
fcc_mongoDB-and-mongoose/.env
*.env
